<div class="CreateDraft">
    <div class="modal-header">
        <h3 class="modal-title">Create draft</h3>
    </div>
    <div class="modal-body">
        <form submit-on-enter="ok">
            <input  ng-model="draft.name" class="form-control" type="text" placeholder="Diagram Name" tabindex="1" autofocus="true" autoselect-modal="x3"/><br/>
            <input  nm-model="draft.usecase" class="form-control" type="search" placeholder="Use Case Reference (Confluence of Jira)" tabindex="2"/><br/>
            <input  ng-model="draft.project"  class="form-control" type="search" placeholder="project name" tabindex="3"><br/>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn-primary" type="submit" ng-click="ok()" tabindex="4">Create</button>
    </div>
</div>