<div class="row">
    <div class="col-sm-9 col-md-10 col-md-offset-2 main">
        <h2 class="page-header">Dashboard</h2>
        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
                <h5>Drafts <a href="" ng-click="createDraft()">[+]</a></h5>

            </div>
           <div class="col-xs-6 col-sm-3 placeholder">
               <h5>Awaiting For Review</h5>
               <p>
                   Your Diagrams ready to be reviewed
               </p>
           </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <h5>Approved</h5>
                <p>
                    Ready to do
                </p>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <h5>Requested Reviews</h5>
                <table width="100%">
                    <tr>
                        <td>US-1847b</td>
                        <td><div style="width: 7px;height: 7px;background-color: red">&nbsp;</div></td>
                        <td>DBS</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>US-1847a</td>
                        <td><div style="width: 7px;height: 7px;background-color: green">&nbsp;</div></td>
                        <td>DBS</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>US-1847b</td>
                        <td><div style="width: 7px;height: 7px;background-color: red">&nbsp;</div></td>
                        <td>DBS</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>US-1847a</td>
                        <td><div style="width: 7px;height: 7px;background-color: green">&nbsp;</div></td>
                        <td>DBS</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>US-1847b</td>
                        <td><div style="width: 7px;height: 7px;background-color: red">&nbsp;</div></td>
                        <td>DBS</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>US-1847a</td>
                        <td><div style="width: 7px;height: 7px;background-color: green">&nbsp;</div></td>
                        <td>DBS</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>US-1847b</td>
                        <td><div style="width: 7px;height: 7px;background-color: red">&nbsp;</div></td>
                        <td>DBS</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>US-1847a</td>
                        <td><div style="width: 7px;height: 7px;background-color: green">&nbsp;</div></td>
                        <td>DBS</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>US-1847b</td>
                        <td><div style="width: 7px;height: 7px;background-color: red">&nbsp;</div></td>
                        <td>DBS</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>US-1847a</td>
                        <td><div style="width: 7px;height: 7px;background-color: green">&nbsp;</div></td>
                        <td>DBS</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>US-1847b</td>
                        <td><div style="width: 7px;height: 7px;background-color: red">&nbsp;</div></td>
                        <td>DBS</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>US-1847a</td>
                        <td><div style="width: 7px;height: 7px;background-color: green">&nbsp;</div></td>
                        <td>DBS</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>US-1847b</td>
                        <td><div style="width: 7px;height: 7px;background-color: red">&nbsp;</div></td>
                        <td>DBS</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>US-1847a</td>
                        <td><div style="width: 7px;height: 7px;background-color: green">&nbsp;</div></td>
                        <td>DBS</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>US-1847b</td>
                        <td><div style="width: 7px;height: 7px;background-color: red">&nbsp;</div></td>
                        <td>DBS</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>US-1847a</td>
                        <td><div style="width: 7px;height: 7px;background-color: green">&nbsp;</div></td>
                        <td>DBS</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>US-1847b</td>
                        <td><div style="width: 7px;height: 7px;background-color: red">&nbsp;</div></td>
                        <td>DBS</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>US-1847a</td>
                        <td><div style="width: 7px;height: 7px;background-color: green">&nbsp;</div></td>
                        <td>DBS</td>
                        <td>2</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


</div>
